
@{
    ViewData["Title"] = "UploadFile";
}

<h2>UploadFile</h2>

<form method="post" enctype="multipart/form-data" asp-action="Post">
    <div class="form-group">
        <div>
            <p>Please select the file to upload:</p>
            <input type="file" name="files" style="width:500px" multiple />
        </div>
    </div>
    <div class="form-group">
        <div>
            <input type="submit" value="Upload" />
        </div>
    </div>
</form>

<script type="text/javascript">
    function uploadFileUsingSignedUrl() {   // 不推荐使用jQuery通过这种带签名的URL的方式上传文件
        var filePath = $("#fileSelector").val();
        var pos = filePath.lastIndexOf("\\");
        var fileName = filePath.substr(pos + 1);
        var key = "demo/" + fileName;

        // 获取带签名上传地址
        // 以下方法会报错：JS跨域访问错误
        // 不推荐使用jQuery通过这种带签名的URL的方式上传文件
        // 带签名的方式适合需要通过APP大量上传文件
        $.ajax({
            url: "GetUploadUri?key=" + key,

            success: function (signedUrl) {
                // 使用带签名URL上传文件
                var formData = new FormData();
                formData.append("file", $("#fileSelector")[0].files[0]);
                formData.append("name", filePath);
                $.ajax({
                    url: signedUrl,
                    type: "PUT",
                    data: formData,
                    // 告诉jQuery不要去处理发送的数据
                    processData: false,
                    //// 告诉jQuery不要去设置Content-Type请求头
                    contentType: false,
                    success: function (responseStr) {
                        if (responseStr.status === 0) {
                            alert("成功：" + responseStr);
                        } else {
                            alert("失败");
                        }
                    },
                    error: function (responseStr) {
                        alert("出错：" + responseStr);
                    }
                });
            }
        });
    }
</script>
